<nav class='mypageHeader'><span>Biblios</span><a href="/logout">Log Out</a></nav>
<div class='content'>
  <form action="/edit" method='post' class='form'>
    <label for="input[channel]">Name your Biblio</label>
    <input type="text" name='input[channel]' value = "<%=@channel.name %>"><br>
    <label for="input[handle1]">Enter a Handle</label>
    <input type="text" name='input[handle1]' value = "<%=@channel.users.first.username %>"><br>
    <label for="input[handle2]">Enter a Handle</label>
    <input type="text" name='input[handle2]' value = "<%=@channel.users[1].username %>"><br>
    <label for="input[handle3]">Enter a Handle</label>
    <input type="text" name='input[handle3]' value = "<%=@channel.users[2].username %>"><br>
    <input type="hidden" value='<%=@channel.id%>' name='input[channel_id]'>
    <input type="submit" value='Submit!'>
  </form>
  </div>
