<nav class='mypageHeader'><span>Biblios</span><a id='logout' href="/logout">Log Out</a></nav>
<div id='mypage'>
  

<div id='mypageContent'>
  <h1><%=@user.username %>'s Biblios</h1>
  <a id="create" href="/create">Create a Biblio</a>
  <ul>
  <% @user.channels.each do |channel| %>
  <% p channel.name %>
    <li><span><a href="/channel/<%=channel.id%>"><%= channel.name %></a> | <a class='buttons' href="/edit/<%=channel.id%>">Edit</a> | <form id='delete' action='/delete' method='post'><input type='hidden' value ='<%=channel.id%>' name='id'><input type='submit' value='Delete'> </form></span></li>
  <% end %>
  </ul>
  
</div>

</div>
